<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/contests.css">
    <link rel="stylesheet" href="/styles/headerfooter.css">
    <script src="/scripts/headerfooter.js"></script>
    <script src="/scripts/contests.js"></script>
    <title>Gare</title>
  </head>
  <body>
    {% include "header" %}

    {% if user %}
    <button id="add-button" class="header-button" onclick="redirect_to_create()">
      <div>
        <img
          class="icon"
          src="icons/add.svg"
          height="20"
        >
      </div>
      <div>Crea un gara</div>
    </button>
    {% endif %}

    <ul id="contest-list">
      {% for contest in contests %}
        <li onclick="redirect_to_contest({{contest.id}})">
          <div>
            {{contest.contest_name}}
          </div>
          <div class="contest-info">
            <div>
              <img
                class="icon"
                src="icons/question.svg"
                height="20"
              >
              <span>{{contest.questions_no}}</span>
            </div>

            <div>
              <img
                class="icon"
                src="icons/team.svg"
                height="20"
              >
              <span>{{contest.teams_no}}</span>
            </div>

            <div>
              <img
                class="icon"
                src="icons/clock.svg"
                height="20"
              >
              <span>
                {% set hours = (contest.duration - contest.duration % 3600) / 3600 %}
                {% set mins = ((contest.duration - contest.duration % 60) / 60) % 60 %}
                {% if mins < 10 %}
                  {{hours}}:0{{mins}}
                {% else %}
                  {{hours}}:{{mins}}
                {% endif %}
              </span>
            </div>
          </div>
          <div class="contest-actions">
            <div
              onclick="copy_contest_link({{contest.id}}); event.stopPropagation();"
              title="Copia link"
            >
              <img
                class="icon"
                src="icons/copy.svg"
                height="20"
              >
            </div>
            <div
              onclick="redirect_to_settings({{contest.id}}); event.stopPropagation();"
              title="Impostazioni"
            >
              <img
                class="icon"
                src="icons/settings.svg"
                height="20"
              >
            </div>
            <div
              onclick="delete_contest({{contest.id}}); event.stopPropagation();"
              title="Elimina"
            >
              <img
                class="icon"
                src="icons/bin.svg"
                height="20"
              >
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
