<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/create.css">
    <script src="/scripts/headerfooter.js"></script>
    <script src="/scripts/jsonform.js"></script>
    <script src="/scripts/create.js"></script>
    <title>Crea una gara</title>
  </head>
  <body>
    {% include "header" %}

    <form id="create" action="/api/contests" method="post">
      <h1>Crea una gara</h1>
      <div>
        <label for="phiquadro_id">
          ID della gara su PhiQuadro
        </label>
        <div><input name="phiquadro_id" id="phiquadro_id" type="number" required></div>
      </div>
      <div>
        <label for="phiquadro_sess">
          Sessione della gara su PhiQuadro
        </label>
        <div><input name="phiquadro_sess" id="phiquadro_sess" type="number" value="1" required></div>
      </div>
      <div>
        <label for="name">
          Nome della simulazione
        </label>
        <div><input name="name" id="name" type="text" placeholder="se bianco, è il nome della gara"></div>
      </div>
      <div>
        <label for="start_time">
          Orario di partenza
        </label>
        <div><input name="start_time" id="start_time" type="datetime-local" type="number" required></div>
      </div>
      <div>
        <label for="duration">
          Durata (minuti)
        </label>
        <div><input name="duration" id="duration" type="number" required></div>
      </div>
      <div>
        <label for="drift">
          Deriva
        </label>
        <div><input name="drift" id="drift" type="number" value="3" required></div>
      </div>
      <div>
        <label for="drift_time">
          Durata deriva (minuti)
        </label>
        <div><input name="drift_time" id="drift_time"  type="number" required></div>
      </div>
      <div>
        <label for="jolly_time">
          Durata scelta jolly (minuti)
        </label>
        <div><input name="jolly_time" id="jolly_time"  type="number" value="10" required></div>
      </div>
      <div>
        <div class="fake-label">
          Bonus prima risposta
        </div>
        <div class="fake-input">
          <label for="question_bonus_1" hidden>Bonus prima soluzione</label>
          <label for="question_bonus_2" hidden>Bonus seconda soluzione</label>
          <label for="question_bonus_3" hidden>Bonus terza soluzione</label>
          <label for="question_bonus_4" hidden>Bonus quarta soluzione</label>
          <label for="question_bonus_5" hidden>Bonus quinta soluzione</label>
          <label for="question_bonus_6" hidden>Bonus sesta soluzione</label>
          <label for="question_bonus_7" hidden>Bonus settima soluzione</label>
          <label for="question_bonus_8" hidden>Bonus ottava soluzione</label>
          <label for="question_bonus_9" hidden>Bonus nona soluzione</label>
          <label for="question_bonus_10" hidden>Bonus decima soluzione</label>
          <input name="question_bonus_1" id="question_bonus_1" type="number" value="20" required>
          <input name="question_bonus_2" id="question_bonus_2" type="number" value="15" required>
          <input name="question_bonus_3" id="question_bonus_3" type="number" value="10" required>
          <input name="question_bonus_4" id="question_bonus_4" type="number" value="8" required>
          <input name="question_bonus_5" id="question_bonus_5" type="number" value="6" required>
          <input name="question_bonus_6" id="question_bonus_6" type="number" value="5" required>
          <input name="question_bonus_7" id="question_bonus_7" type="number" value="4" required>
          <input name="question_bonus_8" id="question_bonus_8" type="number" value="3" required>
          <input name="question_bonus_9" id="question_bonus_9" type="number" value="2" required>
          <input name="question_bonus_10" id="question_bonus_10" type="number" value="1" required>
        </div>
      </div>
      <div>
        <div class="fake-label">
          Bonus primo full
        </div>
        <div class="fake-input">
          <label for="contest_bonus_1" hidden>Bonus primo full</label>
          <label for="contest_bonus_2" hidden>Bonus secondo full</label>
          <label for="contest_bonus_3" hidden>Bonus terzo full</label>
          <label for="contest_bonus_4" hidden>Bonus quarto full</label>
          <label for="contest_bonus_5" hidden>Bonus quinto full</label>
          <label for="contest_bonus_6" hidden>Bonus sesto full</label>
          <label for="contest_bonus_7" hidden>Bonus settimo full</label>
          <label for="contest_bonus_8" hidden>Bonus ottavo full</label>
          <label for="contest_bonus_9" hidden>Bonus nono full</label>
          <label for="contest_bonus_10" hidden>Bonus decimo full</label>
          <input name="contest_bonus_1" id="contest_bonus_1" type="number" value="100" required>
          <input name="contest_bonus_2" id="contest_bonus_2" type="number" value="60" required>
          <input name="contest_bonus_3" id="contest_bonus_3" type="number" value="40" required>
          <input name="contest_bonus_4" id="contest_bonus_4" type="number" value="30" required>
          <input name="contest_bonus_5" id="contest_bonus_5" type="number" value="20" required>
          <input name="contest_bonus_6" id="contest_bonus_6" type="number" value="10" required>
          <input name="contest_bonus_7" id="contest_bonus_7" type="number" value="0" required>
          <input name="contest_bonus_8" id="contest_bonus_8" type="number" value="0" required>
          <input name="contest_bonus_9" id="contest_bonus_9" type="number" value="0" required>
          <input name="contest_bonus_10" id="contest_bonus_10" type="number" value="0" required>
        </div>
      </div>
      <div id="submit-wrapper">
        <label id="submit-label" for="submit" hidden>
          Crea!
        </label>
        <input id="submit" class="col-btn" type="submit" value="Crea!">
      </div>
    </form>
  </body>
</html>
