{% extends "base" %}
{% block head %}
    <script src="/scripts/create.js"></script>
    <title>Crea una gara</title>
{% endblock %}
{% block content %}
    <div class="page-content">
      {% include "contest_editor" %}
    </div>
{% endblock %}
