<footer>
  <div id="footer-inner">
    <div>Problemi? Segnalali <a href="https://github.com/franv314/gas-simulator/issues" target="_blank">qui</a></div>
    <div>Leggi la <a href="/privacy_policy">privacy policy</a></div>
  </div>
</footer>
