<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="/styles/ranking.css">
    <script src="/scripts/ranking.js"></script>
    <title>{{name}}</title>
  </head>
  <body>
    <div id ="page-intro">
      <a id="contest-title" href="https://www.phiquadro.it/gara_a_squadre/classifica_new.php?id_gara={{phiquadro_id}}&id_sess={{phiquadro_sess}}">
        {{name}}
      </a>
      <button id="toggle-visibility" type="button" onclick="hide_fake_teams()">
        Nascondi squadre fantasma
      </button>
    </div>
    <table id="ranking">
      <tr>
        <th style="visibility: hidden"></th>
        {% for question in questions %}
          <th class="question-header">
            <div>
              Q. {{loop.index}}
            </div>
            <div>
              {{question.score}}
              {% if question.locked %}
                <img
                  class="icon"
                  src="/icons/lock.svg"
                  height="15"
                >
              {% endif %}
            </div>
          </th>
        {% endfor %}
      </tr>
      {% for team in teams %}
        {% if team.is_fake %}
          <tr class="fake-team">
        {% else %}
          <tr class="real-team">
        {% endif %}
          <td class="team-header">
            <div style="display: flex">
              <div class="team-rank">
                {{loop.index}}
              </div>
              <div class="team-name">
                {{team.name}}
              </div>
            </div>
            <div class="team-score">
              {{team.score}}
            </div>
          </td>
          {% for question in team.questions %}
            {% if question.status == "Solved" %}
              <td class="question question-solved">
            {% elif question.status == "Attempted" %}
              <td class="question question-attempted">
            {% elif question.status == "JustSolved" %}
              <td class="question question-just-solved">
            {% else %}
              <td class="question question-not-attempted">
            {% endif %}
              {{question.score}}
            {% if question.jolly %}
              <b>J</b>
            {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
 </body>
</html>
