<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/ranking.css">
    <title>title</title>
  </head>
  <body>
    <table id="ranking">
      <tr>
        <th style="visibility: hidden"></th>
        {% for question in questions %}
          <th class="question-header">
            <div>Q. {{question.id}}</div>
            <div>{{question.score}}</div>
          </th>
        {% endfor %}
      </tr>
      {% for team in teams %}
        <tr>
          <td class="team-header">
            <span style="display: flex">
              <div>
                {{loop.index}}
              </div>
              <div>
                {{team.name}}
              </div>
            </span>
            <div>
              {{team.score}}
            </div>
          </td>
          {% for question in team.questions %}
            {% if question.status == "Solved" %}
              <td class="question question-solved">
            {% elif question.status == "Attempted" %}
              <td class="question question-attempted">
            {% elif question.status == "JustSolved" %}
              <td class="question question-just-solved">
            {% else %}
              <td class="question question-not-attempted">
            {% endif %}
              {{question.score}}
            {% if question.jolly %}
              <b>J</b>
            {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
 </body>
</html>
