#add-button {
    margin: 35px auto 0 auto;
}

#contest-list {
    margin: 20px;
    width: min(1000px, calc(100% - 50px));
}

#contest-list li {
    height: 50px;
    list-style: none;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 0px 10px;
    margin: 15px 0px;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.2);
    user-select: none;
}

#contest-list li > div {
    flex: 33%;
}

.contest-info {
    justify-content: center;
    text-align: center;
    display: flex;
}

.contest-info > div {
    width: 55px;
}

.contest-info > div:last-child {
    width: 65px;
}

.contest-info > div > * {
    vertical-align: middle;
}

.contest-actions {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.contest-actions > div {
    margin: 0px 1px;
}

@media screen and (max-width: 600px) {
    #contest-list li {
        display: block;
        height: fit-content;
        padding: 6px 10px;
    }
    #contest-list li > div {
        flex: 100%;
        justify-content: center;
        text-align: center;
        padding: 2px 0;
    }
}

@media (hover: hover) {
    #contest-list li:hover {
        background-color: #f4f4f4;
        box-shadow: 0 3px 10px rgba(128, 128, 128, 0.4);
        cursor: default;
    }
}
