* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--font-family);
}

body {
    background-color: var(--body-background);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#add-button {
    font-size: 16px;
    margin-top: 35px;
    padding: 8px 18px;
    background-color: var(--theme-color);
}

#add-button:hover {
    background-color: var(--theme-color-dark);
}

#add-button .icon {
    vertical-align: middle;
}

#contest-list {
    margin: 20px;
    width: min(1000px, calc(100% - 50px));
}

#contest-list li {
    height: 50px;
    list-style: none;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 0px 10px;
    margin: 15px 0px;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.2);
}

#contest-list li:hover {
    background-color: #f4f4f4;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.4);
}

#contest-list li > div {
    flex: 33%;
}

.contest-info {
    justify-content: center;
    text-align: center;
    display: flex;
}

.contest-info > div {
    width: 55px;
}

.contest-info > div:last-child {
    width: 65px;
}

.contest-info > div > * {
    vertical-align: middle;
}

.contest-actions {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.contest-actions > div {
    padding: 4px 3px;
    margin: 0px 1px;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.contest-actions > div:hover {
    background-color: #d0d0d0;
}

#welcome {
    width: min(1000px, 95%);
    margin: 30px auto;
}

#welcome > h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
