#create {
    width: min(600px, calc(100vw - 60px));
    background-color: white;
    margin: 40px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#create > h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
}

#create > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px 0;
}

#create > div > * {
    flex: 45%;
    margin: auto 5px;
}

#create > div > *:first-child {
    text-align: right;
}

#create > div > div:not(.fake-input) > input {
    width: calc(100% - 10px);
}

input {
    border-radius: 3px;
    padding: 0px 5px;
    border: 1px solid black;
    height: 25px;
    background-color: white;
}

.fake-input {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.fake-input > input {
    height: 20px;
    width: calc((100% - 24px) / 5);
    margin-top: 1px;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.fake-input > input:not(:nth-child(5n + 1)) {
    margin-left: 3px;
}

.fake-input > input:not(:nth-child(5n)) {
    margin-right: 3px;
}

#submit {
    flex: 100%;
    margin-top: 15px !important;
}

@media screen and (max-width: 600px) {
    #create > div > *:first-child {
        flex: 30%;
    }
    #create > div > *:nth-child(2) {
        flex: 60%;
    }
}
