/* THEMES */

/********** Theme: dark **********/
/* Font styles */
.flipdown.flipdown__theme-dark {
    font-family: sans-serif;
    font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #000000;
}
/* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #151515;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
    color: #FFFFFF;
    background-color: #151515;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #EFEFEF;
    background-color: #202020;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
    border-top: solid 1px #151515;
}

/* END OF THEMES */

:root {
    --flipdown-scaling: 0.8;
}

.flipdown {
    overflow: visible;
    width: fit-content;
    height: calc(110px * var(--flipdown-scaling));
    user-select: none;
}

.flipdown .rotor-group {
    position: relative;
    float: left;
    padding-right: calc(30px * var(--flipdown-scaling));
}
.no-display-days > div:first-child {
    display: none;
}

.flipdown .rotor-group:last-child {
    padding-right: 0;
}

.flipdown .rotor-group-heading:before {
    display: block;
    height: calc(30px * var(--flipdown-scaling));
    line-height: calc(30px * var(--flipdown-scaling));
    text-align: center;
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
    content: attr(data-before);
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
    content: attr(data-before);
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
    content: attr(data-before);
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
    content: attr(data-before);
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    content: '';
    position: absolute;
    bottom: calc(20px * var(--flipdown-scaling));
    left: calc(115px * var(--flipdown-scaling));
    width: calc(10px * var(--flipdown-scaling));
    height: calc(10px * var(--flipdown-scaling));
    border-radius: 50%;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    content: '';
    position: absolute;
    bottom: calc(50px * var(--flipdown-scaling));
    left: calc(115px * var(--flipdown-scaling));
    width: calc(10px * var(--flipdown-scaling));
    height: calc(10px * var(--flipdown-scaling));
    border-radius: 50%;
}

.flipdown .rotor {
    position: relative;
    float: left;
    width: calc(50px * var(--flipdown-scaling));
    height: calc(80px * var(--flipdown-scaling));
    margin: 0px calc(5px * var(--flipdown-scaling)) 0px 0px;
    border-radius: calc(8px * var(--flipdown-scaling));;
    font-size: calc(4rem * var(--flipdown-scaling));
    text-align: center;
    perspective: 200px;
}

.flipdown .rotor:last-child {
    margin-right: 0;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
    overflow: hidden;
    position: absolute;
    width: calc(50px * var(--flipdown-scaling));
    height: calc(40px * var(--flipdown-scaling));
}

.flipdown .rotor-leaf {
    z-index: 1;
    position: absolute;
    width: calc(50px * var(--flipdown-scaling));
    height: calc(80px * var(--flipdown-scaling));
    transform-style: preserve-3d;
    transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
    transform: rotateX(-180deg);
    transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
    overflow: hidden;
    position: absolute;
    width: calc(50px * var(--flipdown-scaling));
    height: calc(40px * var(--flipdown-scaling));
    margin: 0;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
    line-height: calc(80px * var(--flipdown-scaling));
    border-radius: calc(8px * var(--flipdown-scaling)) calc(8px * var(--flipdown-scaling)) 0px 0px;
}

.flipdown .rotor-leaf-rear {
    line-height: 0px;
    border-radius: 0px 0px calc(8px * var(--flipdown-scaling)) calc(8px * var(--flipdown-scaling));
    transform: rotateX(-180deg);
}

.flipdown .rotor-top {
    line-height: calc(80px * var(--flipdown-scaling));
    border-radius: calc(8px * var(--flipdown-scaling)) calc(8px * var(--flipdown-scaling)) 0px 0px;
}

.flipdown .rotor-bottom {
    bottom: 0;
    line-height: 0px;
    border-radius: 0px 0px calc(8px * var(--flipdown-scaling)) calc(8px * var(--flipdown-scaling));
}

.flipdown .rotor:after {
    content: '';
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(50px * var(--flipdown-scaling));
    height: calc(40px * var(--flipdown-scaling));
    border-radius: 0px 0px calc(8px * var(--flipdown-scaling)) calc(8px * var(--flipdown-scaling));
}

@media screen and (max-width: 600px) {
    :root {
        --flipdown-scaling: 0.65;
    }
}
