:root {
    --theme-color: rgb(167, 219, 233);
    --theme-color-dark: rgb(152, 203, 218);
}

.col-btn {
    background-color: var(--theme-color);
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.col-btn:hover {
    background-color: var(--theme-color-dark);
}

header {
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.541);
}

header > div:not(#auth-background) {
    width: min(1000px, 95%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    display: flex;
    border-radius: 5px;
    padding: 3px 5px;
}

.header-button > * {
    vertical-align: middle;
    margin: auto 2px auto 2px;
}

#home-icon {
    transform: translateY(+0px);
}

.header-button:hover {
    cursor: default;
    background-color: #e9e9e9;
}

#auth-background {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#auth-background > div {
    position: fixed;
    top: 55px;
    visibility: hidden;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.541);
    border-radius: 10px;
}

#auth-form {
    right: max(5px, calc((100vw - 1000px) / 2 - 68px));
}

#logout-form {
    right: max(5px, calc((100vw - 1000px) / 2 - 40px));
}

#logout-fake-form, #auth-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logout-fake-form {
    width: 120px;
}

#auth-form > form > div:not(.auth-switch-tab) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

#auth-form label {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

#auth-background h2 {
    font-size: 22px;
    margin-bottom: 6px;
}

.auth-switch-tab {
    font-size: 12px;
    margin-bottom: 8px;
}

.auth-switch-tab > .col-btn {
    margin-left: 5px;
    padding: 3px 10px;
    font-size: 12px;
}

#auth-form input:not([type=submit], [type=checkbox]) {
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    padding: 0px 2px;
    width: 180px;
    margin-left: 8px;
}

#logout-button, #auth-background input[type=submit] {
    width: 100%;
}

#logout-form input {
    border-radius: 3px;
    padding: 0px 2px;
    height: 30px;
    width: 100%;
}
