* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--font-family);
}

#page-wrapper {
    background-color: var(--body-background);
    width: 100%;
    height: 100%;
    overflow: scroll;
    flex: auto;
}

#page-intro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 10px;
}

#page-intro > h1 {
    font-size: 26px;
}

#flipdown-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

#clock-text {
    text-align: center;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}

#flipdown {
    margin: 0 auto;
    scale: 0.8;
}

#buttons {
    display: flex;
}

#buttons > * {
    font-size: 14px;
    padding: 3px 4px;
    margin: 5px;
    background-color: var(--theme-color);
    text-decoration: none;
    color: inherit;
}

#buttons > *:hover {
    background-color: var(--theme-color-dark);
}

#ranking {
    margin: 0 auto 40px auto;
    border-collapse: separate;
    border-spacing: 3px 3px;
    font-size: 14px;
}

#ranking tr:nth-child(odd) td.question-not-attempted,
#ranking tr:nth-child(odd) td.team-header,
#ranking tr:nth-child(odd) th {
    background-color: #dddddd;
}

#ranking tr:nth-child(even) td.question-not-attempted,
#ranking tr:nth-child(even) td.team-header,
#ranking tr:nth-child(even) th {
    background-color: #d1d1d1;
}

#ranking tr:hover:nth-child(odd) td.question-not-attempted,
#ranking tr:hover:nth-child(odd) td.team-header {
    background-color: #e8e8e8;
}

#ranking tr:hover:nth-child(even) td.question-not-attempted,
#ranking tr:hover:nth-child(even) td.team-header {
    background-color: #dadada;
}

#ranking td, th {
    border-radius: 5px;
}

.question-header {
    padding: 5px 6px;
}

.question-header img {
    transform: translateY(2px);
}

.team-header {
    display: flex;
    justify-content: space-between;
}

.team-rank, .team-name, .team-score {
    padding: 5px 8px;
    display: flex;
    height: fit-content;
    margin: auto 0;
}

.team-rank {
    width: 18px;
}

.team-score {
    font-weight: bold;
}

.question {
    text-align: center;
    width: 67px;
}

.question-solved,
.question-just-solved,
.question-attempted,
.question-not-attempted,
.team-score {
    font-size: 15px;
}

.question-solved {
    background-color: rgb(80, 222, 80);
}

#ranking tr:hover td.question-solved {
    background-color: rgb(110, 229, 110);
}

.question-just-solved {
    background-color: rgb(80, 222, 80);
    animation: just-solved 2s infinite;
}

.question-attempted {
    background-color: rgb(235, 109, 109);
}

#ranking tr:hover td.question-attempted {
    background-color: rgb(252, 131, 131);
}

#submitter-background {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.2);
}

#submitter {
    position: fixed;
    visibility: hidden;
    width: min(90%, 620px);
    top: calc(50% - 140px);
    left: calc(50% - min(45%, 310px) - 13px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    padding: 10px;
}

#submitter > form {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#submitter > form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

#submitter > form > div > * {
    margin: auto 5px;
}

#submitter > div {
    width: 0px;
    border: 1px solid black;
    height: 210px;
    margin: 0 10px;
}

#submitter h2 {
    font-size: 22px;
    margin: 5px 0 12px 0;
}

select {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/icons/dropdown.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
}

#submitter input:not([type="submit"]), #submitter select {
    border-radius: 3px;
    border: 1px solid black;
    height: 25px;
    padding: 0px 5px;
    width: 200px;
    box-sizing: border-box;
}

#submit-jolly > .filler {
    height: 25px;
}

#submitter input[type="submit"] {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

@keyframes just-solved {
    0%   { background: rgb(80, 222, 80); }
    50%  { background-color: rgb(216, 220, 22);}
    100% { background: rgb(80, 222, 80); }
}

#fullscreen-buttons {
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 3px;
    padding: 3px;
}

#fullscreen-buttons > div {
    height: fit-content;
    display: flex;
}

#fullscreen-buttons:hover {
    background-color: #d0d0d0;
}
