* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeee;
    min-width: fit-content;
    width: 100vw;
}

a:link, a:hover, a:active, a:visited {
    color: black;
    text-decoration: none;
}

#page-intro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contest-title {
    font-size: 14pt;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    width: fit-content;
}

#toggle-visibility, #toggle-submitter {
    margin: 5px;
    padding: 5px;
    background-color: #aaaaaa;
    border-radius: 5px;
}

#toggle-visibility:hover, #toggle-submitter:hover {
    background-color: #bbbbbb;
}

#ranking {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 3px 3px;
}

#ranking tr:nth-child(odd) td.question-not-attempted,
#ranking tr:nth-child(odd) td.team-header,
#ranking tr:nth-child(odd) th {
    background-color: #cccccc;
}

#ranking tr:nth-child(even) td.question-not-attempted,
#ranking tr:nth-child(even) td.team-header,
#ranking tr:nth-child(even) th {
    background-color: #aaaaaa;
}

#ranking tr:hover:nth-child(odd) td.question-not-attempted,
#ranking tr:hover:nth-child(odd) td.team-header {
    background-color: #dddddd;
}

#ranking tr:hover:nth-child(even) td.question-not-attempted,
#ranking tr:hover:nth-child(even) td.team-header {
    background-color: #cccccc;
}

#ranking td, th {
    border-radius: 5px;
}

.question-header {
    padding: 5px 10px;
}

.team-header {
    display: flex;
    justify-content: space-between;
}

.team-rank, .team-name, .team-score {
    padding: 5px 10px;
}

.team-rank {
    width: 18px;
}

.question {
    text-align: center;
    width: 67px;
}

.question-solved {
    background-color: rgb(80, 222, 80);
}

#ranking tr:hover td.question-solved {
    background-color: rgb(105, 249, 105);
}

.question-just-solved {
    background-color: rgb(80, 222, 80);
    animation: just-solved 2s infinite;
}

.question-attempted {
    background-color: rgb(235, 109, 109);
}

#ranking tr:hover td.question-attempted {
    background-color: rgb(252, 131, 131);
}

#submitter-background {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#submitter {
    position: fixed;
    visibility: hidden;
    background-color: #bbbbbb;
    height: 250px;
    width: min(90%, 800px);
    top: calc(50% - 163px);
    left: calc(50% - min(45%, 400px) - 13px);
    border-radius: 3px;
    border: 3px solid #888888;
    z-index: 100;
    display: flex;
    padding: 10px;
}

#submitter > form {
    flex: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#submitter > form > div {
    display: flex;
    height: 30px;
    width: 90%;
}

#submitter > div {
    width: 0px;
    border: 1px solid #666666;
    height: 100%;
}

#submitter label {
    flex: 17%;
}

#submitter div:not(:last-child) label {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

select {
    background-color: white;
}

#submitter input, #submitter select {
    border-radius: 3px;
    flex: 80%;
    height: 30px;
    padding: 0px 2px;
}

img {
    transform: translateY(2px);
}

@keyframes just-solved {
    0%   { background: rgb(80, 222, 80); }
    50%  { background-color: rgb(216, 220, 22);}
    100% { background: rgb(80, 222, 80); }
}

