* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--font-family);
}

#page-content {
    flex: auto;
    width: 100%;
}

#submitter-wrapper {
    width: min(600px, calc(100vw - 60px));
    background-color: white;
    margin: 40px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#ranking-link {
    height: fit-content;
    font-size: 16px;
    margin: 30px auto 50px auto;
    padding: 8px 18px;
    background-color: var(--theme-color);
}

#ranking-link .icon {
    vertical-align: middle;
}

@media (hover: hover) {
    #ranking-link:hover {
        background-color: var(--theme-color-dark);
    }
}
