#submitter-wrapper {
    width: min(600px, calc(100vw - 60px));
    background-color: white;
    margin: 40px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#ranking-link {
    margin: 30px auto 50px auto;
}
